.calendar__table{
    width : 100%; 
    height: calc(100vh - 112px);
}
.calendar__table td{
    padding: 10px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}
.calendar__weekDay{
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.calendar__day{
    
}

.calendar__6weekDay{
     height: 16.67%!important;
}