.calendar__table{
    width : 100%; 
    height: calc(100vh - 112px);
}
.calendar__table td{
    padding: 10px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: 14.29%;
    height: 20%;
}

.calendar__day{
    font-size: 1.3em;
}

.calendar__table--6weeks td{
     height: 16.66%!important;
}
.calendar__weekDay{
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.calendar__otherMonth .calendar__day{
    opacity: 0.3;
}